# -*- python -*-

# Copyright (C) 2006 by the Free Software Foundation, Inc.
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301,
# USA.

"""This module contains your site-specific settings.

Use this to override the default settings in Mailman/Defaults.py.  You only
need to include those settings that you want to change, and unlike the old
mm_cfg.py file, you do /not/ need to import Defaults.  Its variables will
automatically be available in this module's namespace.

You should consult Defaults.py though for a complete listing of configuration
variables that you can change.

To use this, copy this file to $VAR_PREFIX/etc/mailman.cfg

Mailman's installation procedure will never overwrite mailman.cfg.
"""
# -*- python -*-

# Copyright (C) 2006 by the Free Software Foundation, Inc.
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301,
# USA.

"""This module contains your site-specific settings.

Use this to override the default settings in Mailman/Defaults.py.  You only
need to include those settings that you want to change, and unlike the old
mm_cfg.py file, you do /not/ need to import Defaults.  Its variables will
automatically be available in this module's namespace.

You should consult Defaults.py though for a complete listing of configuration
variables that you can change.

To use this, copy this file to $VAR_PREFIX/etc/mailman.cfg

Mailman's installation procedure will never overwrite mailman.cfg.
"""
