# Copyright (C) 2008-2009 by the Free Software Foundation, Inc.
#
# This file is part of GNU Mailman.
#
# GNU Mailman is free software: you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free
# Software Foundation, either version 3 of the License, or (at your option)
# any later version.
#
# GNU Mailman is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License along with
# GNU Mailman.  If not, see <http://www.gnu.org/licenses/>.

# A testing configuration.

[mta]
smtp_port: 9025
incoming: mailman.testing.mta.FakeMTA

[qrunner.archive]
max_restarts: 1

[qrunner.bounces]
max_restarts: 1

[qrunner.command]
max_restarts: 1

[qrunner.in]
max_restarts: 1

[qrunner.lmtp]
max_restarts: 1

[qrunner.maildir]
max_restarts: 1

[qrunner.news]
max_restarts: 1

[qrunner.out]
max_restarts: 1

[qrunner.pipeline]
max_restarts: 1

[qrunner.retry]
max_restarts: 1

[qrunner.shunt]
max_restarts: 1

[qrunner.virgin]
max_restarts: 1

[archiver.prototype]
enable: yes

[archiver.mail_archive]
enable: yes
base_url: http://go.mail-archive.dev/
recipient: archive@mail-archive.dev

[archiver.pipermail]
enable: yes
base_url: http://www.example.com/pipermail/$listname

[archiver.mhonarc]
enable: yes
command: /bin/echo "/usr/bin/mhonarc -add -dbfile $PRIVATE_ARCHIVE_FILE_DIR/${listname}.mbox/mhonarc.db -outdir $VAR_DIR/mhonarc/${listname} -stderr $LOG_DIR/mhonarc -stdout $LOG_DIR/mhonarc -spammode -umask 022"

[language.ja]
description: Japanese
charset: euc-jp

[language.fr]
description: French
charset: iso-8859-1
