Цей текст може включати 
<a href="http://www.python.org/doc/current/lib/typesseq-strings.html">
форматовані рядки</a>, які пов'язані з ознаками списку.  Перелік
дозволених ознак:

<ul>
    <li><b><code>real_name</code></b> - "гарна" назва списку; зазвичай назва
	списку з великою першою літерою.

    <li><b><code>list_name</code></b> - назва списку, яка використовується
	у адресах сторінок, регістр літер має значення.  (для зворотної
	сумісності, еквівалентно <code>_internal_name</code>.)

    <li><b><code>host_name</code></b> - повна назва домену списку листування.

    <li><b><code>web_page_url</code></b> - базова адреса для Mailman.  
	Цю адресу слід додавати, щоб отримати адресу інформаційної сторінки
	списку листування, наприклад <em><code>listinfo/%(internal_name)s</code></em>.

    <li><b><code>description</code></b> - короткий опис списку листування.

    <li><b><code>info</code></b> - повний опис списку листування.

    <li><b><code>cgiext</code></b> - розширення файлів CGI сценаріїв.
</ul>
