[buildout]
parts =
    docs
    filetemplates
    interpreter
    tags
    test
# LP: #659231
include-site-packages = false
unzip = true
develop = .

[interpreter]
recipe = z3c.recipe.scripts
interpreter = py
eggs =
    mailman

[tags]
recipe = z3c.recipe.tag:tags
eggs = mailman

[test]
recipe = zc.recipe.testrunner
eggs =
    mailman
defaults = '--tests-pattern ^tests --exit-with-status'.split()
# Hack in extra arguments to zope.testrunner.
initialization = from mailman.testing import initialize;
    initialize('${buildout:directory}')

[docs]
recipe = z3c.recipe.sphinxdoc
eggs = mailman [docs]
index-doc = docs/README
default.css =
layout.html =
extensions = sphinxconf

[filetemplates]
recipe = z3c.recipe.filetemplate
source-directory = .buildout
package = mailman
eggs = mailman
