[buildout]
parts =
    docs
    filetemplates
    interpreter
    pylint
    tags
    test
unzip = true
develop = .

[interpreter]
recipe = zc.recipe.egg
interpreter = py
eggs =
    mailman

[tags]
recipe = z3c.recipe.tag:tags
eggs = mailman

[test]
recipe = zc.recipe.testrunner
eggs =
    mailman
defaults = '--tests-pattern ^tests --exit-with-status'.split()
# Hack in extra arguments to zope.testrunner.
initialization = from mailman.testing.layers import ConfigLayer;
    ConfigLayer.hack_options_parser()

[docs]
recipe = z3c.recipe.sphinxdoc
eggs = mailman [docs]
index-doc = docs/README
default.css =
layout.html =
extensions = sphinxconf

[filetemplates]
recipe = z3c.recipe.filetemplate
source-directory = .buildout
package = mailman
eggs = mailman

[pylint]
recipe = zc.recipe.egg
eggs =
    pylint
entry-points = pylint=pylint.lint:Run
arguments = sys.argv[1:]
