Na této stránce naleznete pøíspìvky do konference <em>%(listname)s</em>,
které nebyly z nìjakého dùvodu rozeslány a èekají na Va¹e rozhodnutí.
Pokud konference vy¾aduje pro pøihlá¹ení úèastníka shválení jejím
správcem, naleznete tyto po¾adavky v první èásti stránky a pozastavené
pøíspìvky budou a¾ v èásti druhé.

<p>Pro akceptaci pøihlá¹ení musíte u ka¾dého po¾adavku vybrat buï
<em>Zamítnout</em> nebo <em>Pøihlásit</em>. Pokud zamítnete pøihlá¹ení
mù¾ete pøípadnì uvést dùvod, proè se tak stalo. Tento text bude 
odeslán neúspì¹nému zájmeci o èlenství.


<p>Pro pozastavené pøíspìvky vyberte jednu z tìchto akcí:
<ul>
<li><b>Ponechat</b> - Nech zprávu èekat ve frontì
<li><b>Akceptovat</b> - Roze¹li zprávu do koference
<li><b>Zamítnout</b> - Vra» zprávu odesílateli. Mù¾ete uvést i dùvod,
který bude uveden v zamítavé odpovìdi.
<li><b>Zahodit</b> - vhodné pro SPAM. Zpráva potichu zmizí, nikomu se
nic neposílá.
</ul>

<p>Vybráním volby <b>Ponechat</b> mù¾ete napø. ponechat zprávu ve
frontì pro správce serveru. To vyu¾ijete api pøedev¹ím u zpráv, které
nejsou obyèejným spamem, ale vy¾adují dal¹í odvetné akce.
S pomocí volby<b>Pøeposlat</b> mù¾ete kopii zprávy odeslat na adresu,
kterou vyplníte do vstupního pole vedle této volby.

<p>Pokud jste ji¾ pro¹li celou stránkou kliknìte na jejím horním nebo
spodním okraji na tlaèítko <em>Potvrdit v¹echny zmìny</em>. Tím se 
pøenesou provedené zmìny do databáze a server podle daných pokynù provede
potøebné operace. Pokud u nìkteré polo¾ky nevyberete ani jednu volbu,
polo¾ka nebude nijak ovlivnìna a zùstane ulo¾ena v databázi. Budete o ni
moci rozhodnout kdykoliv pøí¹tì.



















