Tento text mù¾e obsahovat <a
href="http://www.python.org/doc/current/lib/typesseq-strings.html">formátovací
pøíkazy Pythonu</a> které se nahrazují odpovídajícími hodnotami, pøi
generování stránky.  Nejdùle¾itìj¹í promìnné jsou:

<ul>
    <li><b><code>real_name</code></b> - `Hezké' jméno konference, 
    obvykle název, který má zachovánu velikost písmen tak jak je 
    zadán v konfiguraci.

    <li><b><code>list_name</code></b> - Jméno konference, tak jak
    se pou¾ívá v URL, tedy tam kde zále¾í na velikosti písmen (v¹echna
    jsou pøevedena na malá).

    <li><b><code>host_name</code></b> - Celé DNS jméno serveru na
    kterém konference bì¾í.
    
    <li><b><code>web_page_url</code></b> - Základní URL pro Mailman.
    Pokud je následováno napø. tímto pøíkazem:
    <em><code>listinfo/%(internal_name)s</code></em>
    vede na stránku s informacemi o konferenci.

    <li><b><code>description</code></b> - Krátký, charakteristický
    popis konference, tak jak byl zadán pøi konfiguraci.

    <li><b><code>info</code></b> - Kompletní, dlouhý, popis konference.

    <li><b><code>cgiext</code></b> - pøípona pøidávaná k cgi scriptùm.

</ul>
