Administrazio eskakizuna bi eratara erakutsi daitezke, bat <a 
href="%(summaryurl)s">laburpen orri</a> batetan eta bestea 
<em>xehetasun</em> orrialdean. Laburpen orrialdean harpidetza
sotze eta ezabatze eskakizunak eta erabiltzaileznildurik zerrendara 
bidali eta onarpena behar duten mezuak agertzen dira. Xehetasun orrialdean 
mezu bakoitzaren iksupegi xehetuago bat aurki dezakezu,hizoztutako mezu 
bakoitzagatik. MEzuaren buruko osoa ikusten da baina ez mezuaren gorputza.

<p>Orrialde guztietan hurrengo ekintzak izango dituzu aukeran:

<ul>
<li><b>Utzi</b> -- Zure erbakia beranduago arte atzeratu. Une honetan ez da 
    ekintzarik aurrera eramango itxaroten ari den eskakizunarekin, zuk ere 
    bidali edo mezua gorde dezakezu (ikusi behekaldean).

<p><li><b>Onartu</b> -- MEzu hau onartu eta zerrendara bidaliko du. Harpidetza 
    eskakizunetarako onartzen harpide estatusa aldatuko da.

<p><li><b>Ukatu</b> -- Mezua ukatu, bidaltzaileari ukatze abisu bat bidali eta 
   mezu originala ezeztatuz. HArpidetza eskakizunetan ukatzean harpidetza 
   estatusa ez da aldatuko. Bietan ukatzearen arrazoia bete behar duzu textu 
   lehiotxoan.
<p><li><b>Ezeztatu</b> -- Mezu originala ezabatu baina bidaltzaileari inongo 
   berririk bidali gabe. Hau noramlean ezagututako spam mezuei ezartzen zaie.
</ul>

<p>Hizoztutako mezueta ezarri ezazu <b>gorde</b> aukera gunearen 
administratzailearentzat mezuaren kopia bat gorde nahi baduzu. Hau ezabatu 
egingo dituzun mezuentzat oso erabilgarria da, geroago berrikusketa bat egin 
nahi baduzu.

<p><b>Bidali honi</b> aukera ezarri eta bidalketa helbidea bete ezazu 
zerrendako harpidedun ez den helbide batetara mezu bat bidaltzako. Izoztutako 
mezu bat zerrendara bidali aurretik moldatu nahi bazenu lehengo zure buruari 
(edo zerrenda jabeari) bidali eta mezu originala ezeztatu egin behar duzu. 
Orduan behin zure posta kutxan dezunean aldatu nahi diozuna aldatu eta 
zerrendara mezua biali, <tt>Approved:</tt> eta zerrenda pasahitza gehituaz. 
Ohitura ona da kasu hauetan bidalketan ohartxo bat jartzea moldatua izan 
dela ohartarazteko.

<p>Igorlea moderaturik dagoen zerrenda harpideduna bat den kasuan, moderazioa 
kendu diezaiokezu moderazio bandera ezabatuaz. Hau zure zerrendako harpidedun 
berriak moderazio kontrolpean sortzea erabaki baduzu oso erabilgarria da. 

<p>Igorlea ez bada zerrendaren parteartzaile zuk eposta helbidea <em>igorle 
filtro</em>ra gehi dezakezu. Igorle filtroak <a href="%(filterurl)s">
Pribatasun aukerak atala</a> orrialdean xehetasunean argiturik daude, bain
honako hauetako bat izan behar du:<b>auto-onartu</b> (Onartu), <b>auto-hizoztu
</b> (Hizoztu),<b>auto-ukatu</b> (Ukatu), or <b>auto-ezeztatu</b> (Ezeztatu). 
Haukera hau igorla jada igorle filtroan balego ezgaiturik egongo da.

<p>Behin bukaturik <em>Bidali datu guztiak</em> behekaldeko botoia sakatuz
erabakiak artu dituzun eskakizun guztiak zuk aukerturiko ekintza hasiko dute.

<p><a href="%(summaryurl)s">Laburpen orrialdera itzuli</a>.