Orrialde honetan <a href="%(adminurl)s"><em>%(listname)s</em> eposta 
zerrenda</a>.egiteko dituzun eskakizunen laburpena ikus dezakezu.
Lehenengo, baleude, harpidetzak sortu eta ezabatzeko eskakizunak 
aurki ditzazkezu eta beherago zure onarpenaren zai dauden hizoztutako
mezuak.

<p> administrazio eskakizun bakotzariko, mesedez hauta ezazu
aurrera eramateko ekintza eta <b>Bidali datu guztiak<b> botoia
sakatu amaitzean. Argibide gehiago <a href="%(detailsurl)s">
hemen</a>.

<p>egiteko dauden eskakizun guztien <a href="%(viewallurl)s">
Xehetasunak</a> ere ikus ditzazkezu.