<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>
  <HEAD>
     <title>%(listname)s Fitxategiak</title>
     <META NAME="robots" CONTENT="noindex,follow">
     %(meta)s
  </HEAD>
  <BODY BGCOLOR="#ffffff">
     <h1>%(listname)s Fitxategiak </h1>
     <p>
      <a href="%(listinfo)s"> Zerrenda honi buruz</a>argibide gehiago lor ditzazkezu
      bestela <a href="%(fullarch)s">raw fitxategi osoa deskargatu</a>
      (%(size)s).
     </p>
     %(noarchive_msg)s
     %(archive_listing_start)s
     %(archive_listing)s
     %(archive_listing_end)s
     </BODY>
     </HTML>
