<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>
  <HEAD>
     <title>The %(listname)s %(archive)s Archive by %(archtype)s</title>
     <META NAME="robots" CONTENT="noindex,follow">
     %(encoding)s
  </HEAD>
  <BODY BGCOLOR="#ffffff">
      <a name="start"></A>
      <h1>%(archive)s Archives by %(archtype)s</h1>
      <ul>
         <li> <b>Mezuak nola ikusi:</b>
	        %(thread_ref)s
		%(subject_ref)s
		%(author_ref)s
		%(date_ref)s

	     <li><b><a href="%(listinfo)s">Zerrenda honi buruz argibide gehiago...
                    </a></b></li>
      </ul>
      <p><b>Asiera data:</b> <i>%(firstdate)s</i><br>
         <b>Bukaera data:</b> <i>%(lastdate)s</i><br>
         <b>Mezuak:</b> %(size)s<p>
     <ul>