Testu honek 
<a href="http://www.python.org/doc/current/lib/typesseq-strings.html">Python
kateak</a> izan ditzake; zerrendako atributuen bidez ordezkatuko dira.  
Onartzen diren ordezkapenak hauexek dira:

<ul>
    <li><b>real_name</b> - Zerrendaren izen `polita'; gehienetan
    zerrendaren izen berbera, baina lehenengo letra larria duena.

    <li><b>list_name</b> - URL-etan zerrenda identifikatzeko
    erabiltzen den izena; letra larriek garrantzia dute.  

    <li><b>host_name</b> - Bere baitan zerrenda duen zerbitzariaren
    izen kanonikoa.

    <li><b>web_page_url</b> - Mailmanen oinarrizko URLa.  
    Adibidez, zerrendaren informazio orria adierazteko, atzean
    <em>listinfo/%(list_name)s</em> gehitzea
	bakarrik behar da.

    <li><b>description</b> - Posta zerrendaren laburpen xumea.

    <li><b>info</b> - Posta zerrendaren azalpen luze eta 
	sakonagoa.

    <li><b>cgiext</b> - CGI script-ei gehitzen zaien luzapena.
</ul>
