<!-- $Revision: 6550 $ -->
<HTML>
  <HEAD>
    <TITLE><MM-List-Name> eposta zerrendare argibide orrialdea</TITLE>
  
  </HEAD>
  <BODY BGCOLOR="#ffffff">

    <P>
      <TABLE COLS="1" BORDER="0" CELLSPACING="4" CELLPADDING="5">
	<TR>
	  <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#99CCFF" ALIGN="CENTER">
	    <B><FONT COLOR="#000000" SIZE="+1"><MM-List-Name> --
	<MM-List-Description></FONT></B>
	  </TD>
	</TR>
	<tr>
	    <td colspan="2">
	      <p>&nbsp;
	    </td>
	  </tr>
	  <tr>
	    <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0">
	      <B><FONT COLOR="#000000"><MM-List-Name>-ri buruz</FONT></B>
	    </TD>
            <TD COLSPAN="1" WIDTH="100%" BGCOLOR="#FFF0D0">
              <MM-lang-form-start><MM-displang-box> <MM-list-langs>
              <MM-form-end>
    <MM-Subscribe-Form-Start>
            </TD>
	  </TR>
	    <tr>
	      <td colspan="2">
		<P><MM-List-Info></P>
	  <p> Zerrendako mezuak ikusi ahal izateko,
	      joan zaitez <MM-Archive><MM-List-Name>
	      Fitxategietara</MM-Archive>.
             <MM-Restricted-List-Message>
	  </p>
	</TD>
      </TR>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000"><MM-List-Name> erabiltzen</FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  Zerrendara mezuak bidaltzako helbidea:
          <A HREF="mailto:<MM-Posting-Addr>"><MM-Posting-Addr></A>.

	  <p>Behekaldeko aukeretan, zu zerrendako harpidedun egin
	     edo harpidetza aukerak alda ditzakezu.
	</td>
      </tr>
      <TR>
	<TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	  <B><FONT COLOR="#000000"><MM-List-Name> zerrendako harpidedun egin</FONT></B>
	</TD>
      </TR>
      <tr>
	<td colspan="2">
	  <P>
	     Hurrengo imprinakia beteaz  <MM-List-Name> eposta 
	     zerrendara harpidetza egin.
	  <MM-List-Subscription-Msg>
	  <ul>
	      <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2"
		WIDTH="70%" HEIGHT= "112">
		<TR>
		  <TD BGCOLOR="#dddddd" WIDTH="55%">Zure eposta helbidea:</TD>
		  <TD WIDTH="33%"><MM-Subscribe-Box>
	</TD>
	<TD WIDTH="12%">&nbsp;</TD></TR>
      <tr>
        <td bgcolor="#dddddd" width="55%">Zure izena (aukeran):</td>
        <td width="33%"><mm-fullname-box></td>
	<TD WIDTH="12%">&nbsp;</TD></TR>
      <TR>
	<TD COLSPAN="3"><FONT SIZE=-1>Zuk pribakuntza pasahitz bat
	aukeratu behar. Honek zihuratsun ertain bat lortzen, baina
	beste batek zure izenean postak bidaltzea zailtzen du. <b>
	Ez erabili pasahitz baliotsurik </b> aldiro pasahitz hau 
	epostaz textu lauen bidaliko bait zaizu.
     
        <p>Ez baduzu pasahitzik sortzen, automatikoki bat sortuko 
	zaizu, eta bein harpidetza egiaztatu duzunean eposta bidez
	bidaliko dizugu. Zure aukerak aldatzean beti efin dezakezu
	pasahitz gogorarazle bat bidaltzeko eskakizuna.
	  <MM-Reminder>
	</TD>
      </TR>  
      <TR>
	<TD BGCOLOR="#dddddd">Pasahitza aukeratu:</TD>
	<TD><MM-New-Password-Box></TD>
	<TD>&nbsp;</TD></TR>
      <TR> 
	<TD BGCOLOR="#dddddd">Egiaztapenerako berriz idatzi:</TD>
	<TD><MM-Confirm-Password></TD>
	<TD>&nbsp; </TD></TR>
      <tr>
        <TD BGCOLOR="#dddddd">Zein hizkuntzatan ikusi nahi dituzu zerrendako mezuak?</TD> 
        <TD> <MM-list-langs></TD>
        <TD>&nbsp; </TD></TR>
      <mm-digest-question-start>
      <tr>
	<td>Zerrendako mezuak egunero eposta bakar batetan bilduak jaso nahi al 
	dituzu?
	</td>
	<td><MM-Undigest-Radio-Button> Ez
	    <MM-Digest-Radio-Button>  Bai
	</TD>
      </tr>
      <mm-digest-question-end>
      <tr>
	<td colspan="3">
	  <center><MM-Subscribe-Button></P></center>
    </TABLE>
    <MM-Form-End>
    </ul>
    </td>
    </tr>
    <TR>
      <TD COLSPAN="2" WIDTH="100%" BGCOLOR="#FFF0D0">
	<a name="subscribers">
        <B><FONT COLOR="#000000"><MM-List-Name> Harpidedunak</FONT></B></a>
      </TD>
    </TR>
    <tr>
      <TD COLSPAN="2" WIDTH="100%">
	<MM-Roster-Form-Start>
	<MM-Roster-Option>
	    <MM-Form-End>
	  <p>
	<MM-Options-Form-Start>
	<MM-Editing-Options>
		<MM-Form-End>
      </td>
    </tr>
  </table>
<MM-Mailman-Footer>
</BODY>
</HTML>
