<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>
 <HEAD>
   <TITLE> %(title)s
   </TITLE>
   <LINK REL="Index" HREF="index.html" >
   <LINK REL="made" HREF="mailto:%(email_url)s">
   <META NAME="robots" CONTENT="index,nofollow">
   %(encoding)s
   %(prev)s
   %(next)s
   </head>
<BODY BGCOLOR="#ffffff">

   <table border="0" cellspacing="1" style="border-collapse: collapse" bordercolor="#111111" width="100%" id="AutoNumber1" height="319">
     <tr>
       <td width="34%" height="19" bgcolor="#FFCCFF" style="border-style: solid; border-width: 1">
</td>
       <td width="66%" height="19" bgcolor="#CCFFFF" style="border-left-style: solid; border-left-width: 1; border-right-style: solid; border-right-width: 1; border-top-style: solid; border-top-width: 1">%(subject_html)s</td>
     </tr>
     <tr>
       <td width="34%" height="19" style="border-right-style: solid; border-right-width: 1; border-top-style: solid; border-top-width: 1">&nbsp;</td>
       <td width="66%" height="19" bgcolor="#CCFFFF" style="border-left-style: solid; border-left-width: 1; border-right-style: solid; border-right-width: 1">%(author_html)s<B>
    </B> 
    <A HREF="mailto:%(email_url)s"
       TITLE="%(subject_html)s">%(email_html)s
       </A></td>
     </tr>
     <tr>
       <td width="34%" height="19" style="border-right-style: solid; border-right-width: 1">&nbsp;</td>
       <td width="66%" height="19" bgcolor="#CCFFFF" style="border-left-style: solid; border-left-width: 1; border-right-style: solid; border-right-width: 1; border-bottom-style: solid; border-bottom-width: 1">
    <I>%(datestr_html)s</I> </td>
     </tr>
     <tr>
       <td width="34%" height="19">
    &nbsp;</td>
       <td width="66%" height="19" style="border-top-style: solid; border-top-width: 1">&nbsp;</td>
     </tr>
     <tr>
       <td width="100%" height="19" bgcolor="#CCFFCC" style="border-left-style: solid; border-left-width: 1; border-top-style: solid; border-top-width: 1; border-right-style:solid; border-right-width:1; border-bottom-style:none; border-bottom-width:medium" colspan="2">%(prev_wsubj)s
        %(next_wsubj)s </td>
     </tr>
     <tr>
       <td width="100%" height="19" bgcolor="#CCFFCC" style="border-left-style: solid; border-left-width: 1; border-bottom-style: solid; border-bottom-width: 1; border-right-style:solid; border-right-width:1; border-top-style:none; border-top-width:medium" colspan="2"> <B>Berichten gesorteerd op:</B> 
              <a href="date.html#%(sequence)s">[ datum ]</a>
              <a href="thread.html#%(sequence)s">[ draad ]</a>
              <a href="subject.html#%(sequence)s">[ onderwerp ]</a>
              <a href="author.html#%(sequence)s">[ auteur ]</a> </td>
     </tr>
     <tr>
       <td width="100%" colspan="2" height="19" bgcolor="#FFFFCC" style="border-bottom-style: solid; border-bottom-width: 1">&nbsp;</td>
     </tr>
     <tr>
       <td width="100%" colspan="2" height="19" bgcolor="#FFFFCC" style="border-style: solid; border-width: 1">%(body)s
       </td>
     </tr>
     <tr>
       <td width="100%" colspan="2" height="19" bgcolor="#FFFFCC" style="border-top-style: solid; border-top-width: 1">&nbsp;</td>
     </tr>
     <tr>
       <td width="100%" height="17" bgcolor="#CCFFCC" style="border-left-style: solid; border-left-width: 1; border-top-style: solid; border-top-width: 1; border-right-style:solid; border-right-width:1; border-bottom-style:none; border-bottom-width:medium" colspan="2">%(prev_wsubj)s
	%(next_wsubj)s </td>
     </tr>
     <tr>
       <td width="100%" height="19" bgcolor="#CCFFCC" style="border-left-style: solid; border-left-width: 1; border-bottom-style: solid; border-bottom-width: 1; border-right-style:solid; border-right-width:1; border-top-style:none; border-top-width:medium" colspan="2"> <B>Berichten gesorteerd op:</B> 
              <a href="date.html#%(sequence)s">[ datum ]</a>
              <a href="thread.html#%(sequence)s">[ draad ]</a>
              <a href="subject.html#%(sequence)s">[ onderwerp ]</a>
              <a href="author.html#%(sequence)s">[ auteur ]</a> </td>
     </tr>
     </table>
   <p>&nbsp;</p>
   <p>

</body></html>