Diese Seite enthält die aktuellen administrativen Anfragen für die
Mailingliste <em>%(listname)s</em> die Ihre Aufmerksamkeit benötigen.
Zuerst sehen Sie die Liste der anstehenden Abonnementsanfragen (falls es
welche gibt), gefolgt von Emails, die Ihre Genehmigung erfordern.

<p>Wählen Sie für jede Abonnementsanfragen <b>Refuse</b> oder
<b>Subscribe</b>.  Sollten Sie eine Abonnementsanfragen abweisen, können Sie
optional einen Grund angeben.

<p>Wählen Sie für jede zurückgehalte Email an die Liste eine der Aktionen aus:
<ul>
<li><b>Defer</b> - Die Entscheidung auf später verschieben. Benutzen Sie
dies, wenn Sie die Nachricht weiterleiten oder aufbewahren möchten (siehe
unten), Sie aber nicht sofort verwerfen wollen.
<li><b>Approve</b> - Genehmigen und an die Liste senden.
<li><b>Reject</b> - Abweisen und eine Abweisungsnotiz an den Absender
schicken. Die ursprüngliche Nachricht wird verworfen.
<li><b>Discard</b> - Die ursprüngliche Nachricht wird verworfen, keine
Abweisungsnotiz wird an den Absender geschickt. Dise ist für Spam nützlich.
</ul>

<p>Aktivieren sie die <b>Preserve</b> Option, wenn Sie eine Kopie der
Nachricht für den Site Administrator aufbewahren möchten.  Dies ist
insbesondere nützlich für unflätige oder beleidigende Nachrichten.
Aktivieren Sie die <b>Forward to</b> Option und geben SIe die
Weiterleitungsadresse ein, falls Sie die Email an jemanden weiterleiten
möchten, der nicht auf der Liste ist.

<p>Wenn Sie fertig sind, klicken sie auf den <em>Submit All Data</em> Knopf
am Kopf oder Fuß dieser Seite. Dieser Knopf läßt die von Ihnen getroffene
Entscheidungen aktiv werden. Wenn Sie für einige Nachrichten keine
Entscheidung treffen, werden diese Nachrichten nicht aus der Datenbank der
zu bearbeitenden Anfragen gelöscht.
