<body>Den h&auml;r texten kan inneh&aring;lla formateringskoder som byts ut mot v&auml;rden fr&aring;n listans upps&auml;ttning. F&ouml;r detaljer, se <a href="http://www.python.org/doc/current/lib/typesseq-strings.html">Pythons formateringsregler (engelska)</a>. Giltiga koder &auml;r:
<ul>
    <li><b><code>real_name</code></b> - Listans formaterade namn, vanligtvis listnamnet med stor initial eller stora bokst&auml;ver rakt igenom.
    <li><b><code>list_name</code></b> - Listens namn, s&aring;som det anv&auml;nds i URL:er, d&auml;r det har betydelse om namnet stavas med stora eller sm&aring; bokst&auml;ver. (F&ouml;r bak&aring;tkompatibilitet, s&aring; &auml;r det samma sak som <code>_internal_name</code>)
    <li><b><code>host_name</code></b> - Internetadressen (fully qualified domain name) till maskinen som listservern k&ouml;rs p&aring;.
    <li><b><code>web_page_url</code></b> - Bas-URL f&ouml;r Mailman. Denna kan l&auml;ggas tillsammans med till exempel  <em><code>listinfo/%(internal_name)s</code></em> f&ouml;r att skapa URL:en till en listas informationssida.
    <li><b><code>description</code></b> - En kort beskrivning av listan.
    <li><b><code>info</code></b> - Fullst&auml;ndig beskrivning av listan.
    <li><b><code>cgiext</code></b> - Till&auml;gg som l&auml;ggs till CGI-skript.</ul></body>
