Questa pagina contiene l'attuale insieme di questioni amministrative
che richiedono la tua approvazione per la mailing list <em>%(listname)s</em>.
Prima di tutto troverai l'elenco delle richieste di iscrizione pendenti
(se ce ne sono), poi i messaggi inviati alla lista che sono stati
trattenuti in attesa della tua approvazione.

<p>Per ogni richiesta di iscrizione, scegli <b>Rifiuta</b> o 
<b>Iscrivi</b>.  Se rifiuti l'iscrizione, puoi opzionalmente 
indicare un motivo per il rifiuto scrivendolo nel riquadro a fianco.

<p>Per ogni messaggio trattenuto, scegli l'azione da intraprendere
tra le seguenti:
<ul>
<li><b>Proroga</b> - Proroga la tua decisione alla prossima volta.
Usa questa possibilit&agrave; se vuoi solamente inoltrare o preservare
(vedi sotto) il messaggio, ma non decidere la sua sorte.
<li><b>Approva</b> - Approva il messaggio e mandalo alla lista.
<li><b>Rifiuta</b> - Rifiuta il messaggio, inviando una notifica al
mittente.  Il messaggio originale viene scartato.
<li><b>Scarta</b> - Il messaggio originale viene scartato senza che
sia inviata nessuna notifica al mittente.  Questa opzione &egrave; utile
per lo spam.
</ul>

<p>Abilita l'opzione <b>Preserva</b> se vuoi salvare una copia di 
questo messaggio ad uso dell'amministratore di mailman.  Questo
pu&ograve; essere utile nel caso di tentativi di abuso.
Abilita l'opzione <b>Inoltra a</b> e compila l'indirizzo di inoltro
se vuoi che il messaggio sia inviato a qualche altra persona che
non &egrave; in lista.

<p>Quando hai terminato, clicca il bottone <em>Esegui tutto</em> 
in cima o in fondo a questa pagina.  Questo bottone eseguir&agrave;
in un sol colpo tutte le azioni per le quali hai preso una 
decisione.  Se non vuoi prendere decisioni su qualcosa,
lascia deselezionate tutte le scelte.  Puoi anche
