이 문서는 메일링 리스트에 예약되어 있는 특성의 <b><code>%(attribute)s</code></b>
형식을 포함하고 있습니다. 더 자세한 설명은 
<a href="http://www.python.org/doc/current/lib/typesseq-strings.html">Python의
문자열 형식 규칙</a>을 보시기 바랍니다. 몇몇 유용한 속성은 아래와 같습니다.

<ul>
    <li><b><code>real_name</code></b> - 리스트의 이름을 나타냅니다. 보통 대문자로
    나타납니다.

    <li><b><code>_internal_name</code></b> - 실제 URL 에서 사용되는 리스트의 이름

    <li><b><code>host_name</code></b> - 메일링 리스트가 운영되는 호스트의 이름

    <li><b><code>web_page_url</code></b> - Mailman 의 기본 URL 입니다.
    이것은 메일링 리스트의 목록정보 페이지를 나타내는
    <em><code>listinfo/%(_internal_name)s</code></em> 와 같이 첨가 될 수 있습니다.

    <li><b><code>description</code></b> - 메일링 리스트의 간략한 설명

    <li><b><code>info</code></b> - 메일링 리스트의 전체 설명
     <li><b><code>cgiext</code></b> - CGI 스크립트를 위한 확장.
</ul>
