На этой странице Вы увидите административные запросы, требующие
Вашего решения.

This page contains the current set of administrative requests
requiring your approval for the mailing list <em>%(listname)s</em>.
First you will find the list of pending subscription requests (if
there are any), followed by any mailing list postings being held for
your approval.

<p>Для каждого административного запроса, Вы можете выбрать одно из следующих
действий:
<ul>
    <li><b>Отложить</b> &mdash; отложить решение на потом.  Используйте это
    действие, если вы хотите указанно сообжение переправить или сохранить (см.
    ниже).

    <li><b>Одобрить</b> &mdash; переправить сообщение в список рассылки.

    <li><b>Отказать</b> &mdash; отвергнуть сообщение, отправив отправителю
    уведомление, что его сообщение принято не было.  Само сообщение после
    этого удаляется.

    <li><b>Удалить</b> &mdash; удалить указанное сообщение без каких-либо
    извещений отправителю.  Данное действие может быть полезным в случае
    спама.
</ul>

<p>Параметр <b>Сохранить</b> позволяет вам сохранить копию сообщения для
администратора сервера.  Это может оказаться полезным в случае, если было
получено оскорбительное сообщение.  Параметр <b>Переслать копию</b> позволяет
вам переслать копию сообщения конкретному получателю.
not on the list.

<p>После того, как вы обработали все запросы, нажмите на кнопку
<em>Выполнить</em> в начале или в конце этой страницы.

<--
    vim:tw=78
 -->
