Esta p&aacute;gina contiene el conjunto completo de peticiones 
administrativas de la lista <em>%(listname)s</em> que requieren 
de su conformidad. Lo primero que encontrar&aacute; 
ser&aacute;n las peticiones pendientes de subscripci&oacute;n 
(siempre y cuando exista alguna), seguida de cualquier 
env&iacute;o a la lista de distribuci&oacute;n que haya sido 
retenido en espera de su visto bueno.

<p>Por cada solicitud de subscripci&oacute;n, seleccione
<ul>
<li><b> Diferir</b> -- Postponer su decisi&oacute;n para despu&eacute;s. Utilicela
si quiere preservar (vea m&aacute;s abajo) el mensaje pero no quiere disponer de &eacute;l
todav&iacute;a.
<li><b>Aprobar</b> -- Aprobar el mensaje y mandarlo a la lista. En el caso de
solicitudes relativas a las subscripciones, aprobar el cambio de estado de la
subscripci&oacute;n
<li><b>Rechazar</b> -- Rechazar el mensaje, enviando un mensaje de rechazo al remitente y descartando el mensaje original. Para las solicitudes reelativas a las subscripciones, denegar el cambio de estado de la subscripci&oacute;n. En este caso deber&iacute;a incluir el motivo en el cuadro de texto adjunto.
<li><b>Descartar</b> -- El mensaje original se ignorar&aacute; sin enviar ning&uacute;n tipo de mensaje. Para las solicitudes relativas a las subsccripciones, ignorar&aacute; la solicitud, sin mandar ning&uacute;n tipo de mensaje.

<p>Para cada env&iacute;o retenido, habilite la opci&oacute;n <b>Preservar</b>
si desea guardar una copia de este mensaje para el administrador del servidor
web.  Esto es &uacute;til para los mensajes abusivos. Habilite la
opci&oacute;n <b>Redirijir</b> y complete la direcci&oacute;n, si quiere
mandar el mensaje a alguien no subscrito a la lista.

<p>Una vez qua haya terminado, dele con el rat&oacute;n al 
bot&oacute;n <em>Enviar todos los datos</em> que est&aacute;
en la parte superior o inferior de esta p&aacute;gina.  Este
bot&oacute;n mandar&aacute; todas las acciones seleccionadas
para las que ha tomado una decisi&oacute;n. 
