Esta p&aacute;gina contiene el conjunto completo de peticiones 
administrativas de la lista <em>%(listname)s</em> que requieren 
de su aprobaci&oacute;n. Lo primero que encontrar&aacute; 
ser&aacute;n las peticiones pendientes de subscripci&oacute;n 
(siempre y cuando exista alguna), seguida de cualquier 
env&iacute;o a la lista de distribuci&oacute;n que haya sido 
retenido en espera de su visto bueno.

<p>Por cada petici&oacute;n de subscripci&oacute;n, seleccione
<ul>
<li><b> Diferir</b> - Postponer su decisi&oacute;n para despu&eacute;s. Utilicela
si quiere preservar (vea m&aacute;s abajo) el mensaje pero no quiere disponer de &eacute;l
todav&iacute;a.
<li><b>Aprobar</b> - Aprobar el mensaje y mandarlo a la lista.
<li><b>Rechazar</b> - Rechazar el mensaje, enviando un mensaje de rechazo al remitente. El mensaje original se descartar&aacute;.
<li><b>Descartar</b> - El mensaje original se decartar&aacute; sin enviar ning&uacute;n mensaje de rechazo. Esta opci&oacute;n es &uacute;til para el correo basura.

<p>Habilite la opci&oacute;n de <b>Preservar</b> si quiere tener una copia de este mensaje
para el administrador de servidor web. Esta opci&oacute;n es &uacute;til para los mensaje abusivos.
Habilite la opci&oacute;n de <b>Reenvio</b> e indique la direcci&oacute;n a la que hay que mandar el mensaje si quiere reenviar el mensaje a alquien que no est&aacute; subscrito a la lista.

<p>Por cada env&iacute;o retenido, seleccione una acci&oacute;n
a tomar eligiendo la opcion de entre <em> Aprobar  </em>, 
<em> Rechazar  </em> o <em> Descartar </em> (esta &uacute;ltima
se utiliza por mor del correo basura ya que el remitente no 
obtendr&aacute; notificaci&oacute;n del rechazo de su 
env&iacute;o).

<p>Una vez qua haya terminado, dele con el rat&oacute;n al 
bot&oacute;n <em>Enviar todos los datos</em> que est&aacute;
en la parte superior o inferior de esta p&aacute;gina.  Este
bot&oacute;n mandar&aacute; todas las acciones seleccionadas
para las que ha tomado una decisi&oacute;n. Si no desea tomar
una decisi&oacute;n sobre una determinada petici&oacute;n 
pendiente, om&iacute;tala dejando los botones radiales sin 
seleccionar, esa petici&oacute;n no se borrar&aacute; de la
Base de datos de peticiones pendientes.
Tambi&eacute;n puede 
