Este texto puede incluir cadenas de formato tipo <b>%(campo)s</b> que 
ser&aacute;n sustituidas por los atributos de la lista. Si desea ver
m&aacute;s detalles, consulte
<a href="http://www.python.org/doc/current/lib/typesseq-strings.html">
Reglas de formateo de las cadenas en Python</a>.
Algunos atributos utiles:

<ul>
    <li><b><code>real_name</code></b> - El nombre 'presentable' de la lista.
    Suele ser el nombre de la lista con la primera letra en may&uacute;scula.
    
    <li><b><code>_internal_name</code></b> - El nombre de dominio totalmente
    cualificado donde reside el servidor de listas.

    <li><b><code>web_page_url</code></b> - El URL base de Mailman. Por ejemplo
    para indicar la p&aacute;gina de informaci&oacute;n de la lista:<br>
    <em><code>listinfo/%(_internal_name)s</code></em>

    <li><b><code>description</code></b> - Una descripci&oacute;n breve sobre
    la lista de distribuci&oacute;n.

    <li><b><code>info</code></b> - La descripci&oacute;n completa sobre la
    lista de distribuci&oacute;n.
</ul>
