<!-- $Revision: 3407 $ -->
<html>
<head>
<title><MM-Presentable-User> Configuraci&oacute;n de la lista  <MM-List-Name></title>

</head>
<BODY BGCOLOR="#ffffff">
	<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
	<TR><TD WIDTH="100%" BGCOLOR="#99CCFF"><B>
	<FONT COLOR="#000000" SIZE=+1>
<MM-List-Name> Configuraci&oacute;n del usuario <MM-Presentable-User>
	</FONT></B></TD></TR> </TABLE>
<MM-Form-Start>

<p>

Estado de la subscripci&oacute;n de <b> <MM-Presentable-User></b>, 
clave, y opciones para la lista de distribuci&oacute;n <MM-List-Name>.

<MM-Disabled-Notice>

<p>

<a name=unsub>
	<TABLE WIDTH="100%" BORDER="0" CELLSPACING="5" CELLPADDING="5">
	<TR><TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
<B>Anular la subscripci&oacute;n de <MM-List-Name></B>
        <TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
<B>Todas las subscripciones que tiene en <MM-Host></B>
	</FONT></TD></TR>

	<tr>
	 <td>

Para anular su subscripci&oacute;n, introduzca su clave y pulse luego el bot&oacute;n. Si ha perdido su clave, vea un poco <a href=#mailpass>m&aacute;s abajo</a> como hacer que se le env&iacute;e por correo electr&oacute;nico.

<p>
clave: <MM-Unsub-Pw-Box> &nbsp;
<MM-Unsubscribe-Button>
</a>
	</td> <td>
Introduzca su clave para ver una lista de enlaces a las p&aacute;ginas de opciones
de todas las listas a las que est&aacute; subscrito.

<p>
Clave: <MM-Other-Subscriptions-Pw-Box>  <MM-Other-Subscriptions-Submit><p>

	</TD></TR> </table>

	<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
	<TR><TD COLSPAN=2 WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
<a name=mailpass><B>Su clave para <MM-List-Name> </B>
	</FONT></TD>
</TR>
<tr valign="TOP">
<td WIDTH="50%">
<a name=reminder>
<center>
<h3>&iquest;Ha olvidado su clave?</h3>
</center>
Pulse este bot&oacute;n para hacer que se le env&iacute;e por correo electr&oacute;nico a la direcci&oacute;n con la que est&aacute; subscrito.
<p>
<MM-Umbrella-Notice>
<center>
<MM-Email-My-Pw>
</center>
</td>
<td WIDTH="50%">
<a name=changepw>
<center>
<h3>Cambio de clave</h3>
      <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="1" WIDTH="70%" COLS=2>
      <TR>
	<TD WIDTH="50%" BGCOLOR="#dddddd"> Clave antigua:</TD>
	<TD WIDTH="50%"><MM-Old-Pw-Box></TD>
      </TR>
      <TR>
	<TD BGCOLOR="#dddddd">Clave nueva:</TD>
	<TD><MM-New-Pass-Box></TD>
      </TR>
      <TR> 
	<TD BGCOLOR="#dddddd">Verificaci&oacute;n:</TD>
	<TD><MM-Confirm-Pass-Box></TD>
      </TR>
</table>
           <MM-Change-Pass-Button>
    </TABLE>

<p>

<a name=options>
	<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
	<TR><TD WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
<B>Sus opciones de subscripci&oacute;n para la lista <MM-List-Name></B>
	</FONT></TD></TR> </table>
<p>
<i><strong>Los valores actuales se han comprobado.</strong></i><p>
<p>
<TABLE BORDER="0" CELLSPACING="2" CELLPADDING="3" WIDTH="80%">
<tr><TD BGCOLOR="#dcdcdc">
<a name="disable">
<strong> Inhabilitar la recepci&oacute;n de correo </strong> <br>
Active  esta opci&oacute;n  si no desea recibir correo durante un periodo de tiempo.<br>
<mm-delivery-enable-button> Desactivar
<mm-delivery-disable-button> Activar <p>
</a>
</td></tr>
<tr><TD BGCOLOR="#dcdcdc">
<strong> Activar modo resumen (Digest Mode)</strong> <br>
Si habilita este modo, recibir&aacute; diariamente todos los mensajes enviados a la lista recopilados en un &uacute;nico mensaje, en lugar de recibirlos a medida que se env&iacute;an.<br>

<MM-Undigest-Radio-Button> Desactivar
<MM-Digest-Radio-Button> Activar <p>
</td></tr>
<tr><TD BGCOLOR="#dcdcdc">
<strong>&iquest;Recibir resumenes en texto plano o con codificaci&oacute;n MIME?</strong> <br>
Si tiene problemas para recibir resumenes codificados en MIME, seleccione texto plano. <br>
<MM-Mime-Digests-Button> MIME
<MM-Plain-Digests-Button> Texto plano <p>
</td></tr>
<tr><TD BGCOLOR="#dcdcdc">
<strong> &iquest;Quiere recibir el correo que usted env&iacute;e a la lista? </strong><br>
<mm-receive-own-mail-button> S&iacute;
<mm-dont-receive-own-mail-button> No <p>
</td></tr>
<tr><TD BGCOLOR="#dcdcdc">
<strong> &iquest;Quiere recibir una confirmaci&oacute;n cuando env&iacute;e correo a la lista? </strong><br>
<mm-dont-ack-posts-button> No
<mm-ack-posts-button> S&iacute; <p>
</td></tr>
<tr><TD BGCOLOR="#dcdcdc">
<strong> &iquest;Quiere ocultarse de la lista de subscriptores? </strong> 
<br>
<MM-Public-Subscription-Button> No
<MM-Hide-Subscription-Button> S&iacute; <p>
</td></tr>
<tr><TD BGCOLOR="#dcdcdc">
<strong> &iquest;En que idioma deseas ver los mensajes de la lista?</strong><MM-list-langs>
</td></tr>
<tr><TD BGCOLOR="#dcdcdc">
clave: <MM-Digest-Pw-Box>  <MM-Digest-Submit><p>
</td></tr></table>
</center>
<MM-Form-End>

<MM-Mailman-Footer>
</body>
</html>
