# Copyright (C) 2008 by the Free Software Foundation, Inc.
#
# This file is part of GNU Mailman.
#
# GNU Mailman is free software: you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free
# Software Foundation, either version 3 of the License, or (at your option)
# any later version.
#
# GNU Mailman is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License along with
# GNU Mailman.  If not, see <http://www.gnu.org/licenses/>.

# A testing configuration.

[mta]
smtp_port: 9025

[qrunner.archive]
max_restarts: 1

[qrunner.bounces]
max_restarts: 1

[qrunner.commands]
max_restarts: 1

[qrunner.in]
max_restarts: 1

[qrunner.lmtp]
max_restarts: 1

[qrunner.maildir]
max_restarts: 1

[qrunner.news]
max_restarts: 1

[qrunner.out]
max_restarts: 1

[qrunner.pipeline]
max_restarts: 1

[qrunner.retry]
max_restarts: 1

[qrunner.shunt]
max_restarts: 1

[qrunner.virgin]
max_restarts: 1

[archiver.mail_archive]
base_url: http://go.mail-archive.dev/
recipient: archive@mail-archive.dev

[domain.example_dot_com]
email_host: example.com
base_url: http://www.example.com
contact_address: postmaster@example.com
