Ezen az oldalon a(z) <em>%(listname)s</em> adminisztrátori megerõsítési kérelmei
láthatóak. Legelõl a feliratkozási kérelmek (ha vannak), majd pedig a jóváhagyásra 
váró levelek listája található.

<p>Minden egyes feliratkozási kérelemhez válaszd vagy a <b>Visszautasít</b>
vagy az <b>Engedélyez</b> kapcsolót. Visszautasítás esetén a visszautasítás indokát 
is meg lehet adni a megfelelõ szövegmezõben.

<p>Minden egyes megerõsítésre váró levélhez válaszd vagy az
<ul>
<li><b>Elhalaszt</b> - Várakoztatás a késöbbi döntésedig. Alkalmazható, ha továbbítani
vagy megõrízni (ld. lentebb) akarod a levelet, annak törlése nélkül.
<li><b>Jóváhagy</b> - A listára küldött levél megjelenését engedélyezed.
<li><b>Visszautasít</b> - A levél visszautasítása, a feladó külön üzenetben értesül a 
levél visszautasításáról. Az eredeti levél figyelmen kívul lesz hagyva. 
<li><b>Elvet</b> - Az eredeti levél figyelmen kívül lesz hagyva, de errõl értesítést 
nem kap a feladó. Hasznos spam-ek esetén.
</ul>

<p>A <b>Megõríz</b> opcióval a levél egy másolatát lehet a rendszer adminisztrátorának 
elküldeni. Sértegetõ levelek esetén elõnyös használni.
A <b>Továbbít ide</b> opcióval a megadott címre lehet a levelet továbbküldeni.

<p>A mûvelet befejezéséhez kattints a lap tetején/alján található <em>Összes változtatás mentése</em> gombra. Ekkor az összes beállítás végrehajtódik. A be nem állított kérelmek a következõ 
alkalommal újból meg fognak jelenni beállításra várva.
A gombra kattintva az összes beállított parancs végrehajtódik. Ha egy vagy több kérelemrõl 
nem akarsz most dönteni, akkor ne adj meg parancsot, ekkor ezek a kérelmek a megerõsítésre 
várók sorában maradnak. Ezentúl még
