Ezen az oldalon a(z) <em>%(listname)s</em> adminisztrátori megerõsítési kérelmei láthatóak.
Legelõl a feliratkozási kérelmek (ha vannak), majd pedig a jóváhagyásra váró levelek listája
található.

<p>Minden egyes feliratkozási kérelemhez válaszd vagy a <b>Refuse</b>
(visszautasít) vagy a <b>Subscribe</b> (engedélyez) kapcsolót.
Visszautasítás esetén a visszautasítás indokát is meg lehet adni
a megfelelõ szövegmezõben.

<p>Minden egyes megerõsítésre váró levélhez válaszd vagy az
<ul>
<li><b>Defer</b> - Várakoztatás a késöbbi döntésedig. Alkalmazható, ha továbbítani vagy megõrízni (ld. lentebb) akarod a levelet, annak törlése nélkül.
<li><b>Approve</b> - A listára küldött levél megjelenését engedélyezed.
<li><b>Reject</b> - A levél visszautasítása, a feladó külön üzenetben értesül a levél visszautasításáról. Az eredeti levél figyelmen kívul lesz hagyva. 
<li><b>Discard</b> - Az eredeti levél figyelmen kívül lesz hagyva, de errõl értesítést nem kap a feladó. Hasznos spam-ok esetén.
</ul>

<p>A <b>Preserve</b> (megõrzés) opcióval a levélrõl egy másolatot lehet a rendszer adminisztrátorának megõrízni. Sértegetõ levelek esetén elõnyös használni.
A <b>Forward to</b> (továbbítás) opcióval a megadott címre lehet a levelet továbbküldeni.

<p>A mûvelet befejezéséhez kattints a lap tetején/alján található <em>Submit All Data</em> gombra. Ekkor az összes beállítás végrehajtódik. A be nem állított kérelemek a következõ alkalommal újból meg fognak jelenni beállításra várva.