Ez a szöveg <b><code>%(attribute)s</code></b> formátum beállításokat
tartalmazhat, amelyek a lista jellemzõit megváltoztathatják. Bõvebb 
információért olvasd el a
<a href="http://www.python.org/doc/current/lib/typesseq-strings.html">Python
szövegformázási lehetõségek</a> részt.  Néhány hasznos jellemzõ:

<ul>
 <li><b><code>real_name</code></b> - A lista `pedikûrözött' neve; általában a 
 lista neve nagy kezdõbetûvel.

 <li><b><code>_internal_name</code></b> - Az a név, amellyel a listát az URL-lel 
 megadott cím alapján azonosítani lehet, kis- és nagybetûk számítanak.
 
 <li><b><code>host_name</code></b> - Tartománynévvel kiegészített teljes neve a gépnek,
 amelyen a levelezõlisták mûködnek.

 <li><b><code>web_page_url</code></b> - Mailman kiindulási URL-je. Ezután lehet megadni 
 pl. <em><code>listinfo/%(_internal_name)s</code></em> részt, hogy a kívánt levelezõlista 
 információs lapja megjelenjen. 

 <li><b><code>description</code></b> - Rövid leírás a levelezõlistáról.
 
 <li><b><code>info</code></b> - A levelezõlista részletes leírása.
</ul>
