Cette page contient l'ensemble des requ&ecirc;tes administratives
en attente de votre approbation pour la liste de diffusion <em>%(listname)s
</em>. Vous trouverez d'abord la liste des demandes d'abonnement en attente
(s'il y en a), suivie des &eacute;ventuels messages envoyés &agrave; la liste
en attente de votre approbation.

<p>Pour chaque demande d'abonnement, choisissez <em>Refuser</em> ou
<em>Abonner</em>.  Si vous refusez l'abonnement, vous pouvez &eacute;galement
donner une raison dans la zone de texte pr&eacute;vue &agrave; cet effet.

<p>Pour chaque message retenu, choisir l'une des actions possibles parmi
<ul>
<li><b>Repousser</b> - Repousse la d&eacute;cision &agrave; plus tard.
Utilisez ce choix si vous souhaitez seulement faire suivre le message ou le
conserver (voir plus bas) mais pas le traiter pour l'instant.
<li><b>Approuver</b> - Approuver le message et l'envoyer sur la liste.
<li><b>Rejeter</b> - Rejeter le message en envoyant une notification &agrave;
l'expéeacute;diteur.  Le message d'origine est &eacute;limin&eacute;.
<li><b>Eliminer</b> - Le message d'origine est &eacute;limin&eacute; sans
envoyer de notification.  Ce choix est utile pour les spams.
</ul>

<p>S&eacute;l&eacute;ctionnez l'option <b>Conserver</b> si vous souhaitez
conserver un exemplaire pour l'administrateur du site.  Ceci est utile pour
les messages abusifs.  S&eacute;l&eacute;ctionnez l'option <b>Faire suivre
&agrave;</b>, et remplissez l'adresse o&ugrave; faire suivre si vous souhaitez
faire suivre le message &agrave; quelqu'un qui n'est pas sur la liste.

<p>Quand vous avez termin&eacute;, cliquez sur le bouton <em>Soumettre
les Donn&eacute;es</em> en haut ou en bas de la page.  Ce bouton va soumettre
toutes les actions s&eacute;ll&eacute;ctionn&eacute;es par toutes les
requ&egrave;tes administratives pour lesquelles vous avez pris une
d&eacute;cision.  Si vous ne souhaitez pas traiter certaines des
requ&egrave;tes, laissez tous les boutons radio
d&eacute;s&eacute;l&eacute;ctionn&eacute;s, et cette requ&egrave;te ne sera
pas supprim&eacute;e de la file d'attente.  Vous pouvez aussi
