Cette page contient l'ensemble des requ&ecirc;tes administratives en
attente de votre approbation pour la liste de diffusion
<em>%(listname)s </em>. Vous trouverez d'abord la liste des demandes
d'abonnement en attente (s'il y en a), suivie des &eacute;ventuels
messages envoy&eacute;s &agrave; la liste en attente de votre
approbation.

<p>Pour chaque requ&ecirc;te administrative, veillez sp&eacute;cifier
l'une des mesures suivantes:


<ul>
<li><b>Repousser</b> - Repousser votre d&eacute;cision &agrave; plus
tard.  Rien ne sera fait pour cette requ&ecirc;te sauf que pour les
soumissions en attente, le message pourra être r&eacute;achemin&eacute;
ou conserv&eacute;

<li><b>Approuver</b> - Approuver le message et l'envoyer sur la liste
ou approuver les modifications apport&eacute;es aux statuts
d'abonn&eacute; pour les requ&ecirc;tes li&acute;es à l'abonnement.

<li><b>Rejeter</b> - Rejeter le message en envoyant un avis
&agrave; l'exp&eacute;diteur, le message d'origine est
ignor&eacute;. Pour les requ&ecirc;tes li&acute;es à l'abonnement,
rejeter la modification de statut demand&acute;e. Dans ce cas vous
devrez fournir les motifs du rejet dans la zone de texte en regard.

<li><b>Larguer</b> - Se d&eacute;barasser du message d'origine sans
envoyer d'avis de rejet. pour les requ&ecirc;tes li&acute;es à
l'abonnement, ignorer tout simplement la requ&ecirc;, sans envoyer un
avis au demandeur.
</ul>

<p>Pour les messages en attente, S&eacute;l&eacute;ctionnez l'option
<b>Conserver</b> si vous souhaitez conserver un exemplaire pour
l'administrateur du site.  Ceci est utile pour les messages abusifs.
S&eacute;l&eacute;ctionnez l'option <b>Faire suivre &agrave;</b>, et
remplissez l'adresse si vous souhaitez faire suivre le message
&agrave; quelqu'un qui n'est pas sur la liste.


<p>Quand vous aurez fini;, cliquez sur le bouton <em>Soumettre
les Donn&eacute;es</em> en haut ou en bas de la page.  Ce bouton va
soumettre toutes les actions s&eacute;ll&eacute;ctionn&eacute;es pour
toutes les requ&egrave;tes administratives pour lesquelles vous avez
pris une d&eacute;cision.