Cette page contient un r&eacute;sum&eacute; de l'ensemble des
requ&ecirc;tes administratives actuellement en attente de votre
approbation pour la <a href="%(adminurl)s">liste de diffusion
<em>%(listname)s</em></a>.  Vous trouverez avant tout, une liste des
demandes d'abonnement et de r&eacute;siliation s'il en est suivi de
toutes les soumissions en attente de votre approbation.

<p>Pour chaque requ&ecirc;te administrative, veillez choisir l'action
&agrave; entreprendre sans oublier de cliquer sur le bouton
<b>Soumettre toutes les donn&eacute;es</b> quand vous aurez
termin&eacute;. <a href="%(detailsurl)s">Des instructions plus
d&eacute;taill&eacute;es</a> sont aussi disponible.

<p>Vous pourrez aussi <a href="%(viewallurl)s">voir les
d&eacute;tails</a> de toutes les soumissions en attente.
