<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>
  <HEAD>
     <title>Archives de %(listname)s </title>
     <META NAME="robots" CONTENT="noindex,follow">
  </HEAD>
  <BODY BGCOLOR="#ffffff">
     <h1>Archives de %(listname)s </h1>
     <p>
      Aucun message n'a encore &eacute;t&eacute; post&eacute; sur
      cette liste, il n y a donc pas encore d'archives
      disponible. Vous avez de <a href="%(listinfo)s">plus amples
      informations sur la liste</a>.
     </p>
  </BODY>
  </HTML>
