This page contains the current set of administrative requests
requiring your approval for the mailing list <em>%(listname)s</em>.
First you will find the list of pending subscription requests (if
there are any), followed by any mailing list postings being held for
your approval.

<p>For each subscription request, select <em>Refuse</em> or
<em>Subscribe</em>.  If you refuse the subscription, you can
optionally add a reason for the refusal in the accompanying text box.

<p>For each held posting, select the action
to take by choosing one of <em>Approve</em>, <em>Reject</em>, or
<em>Discard</em> (this latter is used for spam since the poster will
not get notification of their posting refusal).

<p>When you're finished, click on the <em>Submit All Data</em> button
at the top or bottom of this page.  This button will submit all
selected actions for all administrative requests that you've made a
decision for.  If you don't want to make a decision for some requests,
leave all the action radio buttons unselected, and that request will
not be removed from the pending database.  You can also
