This page contains the current set of administrative requests
requiring your approval for the mailing list <em>%(listname)s</em>.
First you will find the list of pending subscription requests (if
there are any), followed by any mailing list postings being held for
your approval.

<p>For each request, select the action to take by choosing one of
<ul>
    <li><b>Defer</b> - Defer your decision until later.  Use this if
    you just want to forward or preserve (see below) the message but
    not dispose of it yet, or if you can't yet decide whether to
    approve or reject a subscription request.

    <li><b>Approve</b> - Approve the message or subscription request.

    <li><b>Reject</b> - Reject the message or subscription request,
    sending a rejection notice to the user.  You should fill in the
    reason for the rejection, which will be included in the notice.

    <li><b>Discard</b> - The original message or subscription request
    is discarded with no rejection message being sent.  This option is
    useful for spam, or for users that you know are already subscribed.
</ul>

<p>Turn on the <b>Preserve</b> option if you want to save a copy of a
held message for the site administrator.  This is useful for abusive
messages.  Turn on the <b>Forward to</b> option, and fill in the
forwarding address if you want to forward a held message to someone
else not on the mailing list.

<p>When you're finished, click on the <em>Submit All Data</em> button
at the top or bottom of this page.  This button will submit all
selected actions for all administrative requests that you've made a
decision on.
