<html>
<body>
<h1><MM-List-Name> -- <MM-List-Description></h1>
<h3>About <MM-List-Name>:</h3>
<MM-List-Info>
<hr> 
<h3>Talking on the list</h3>
You may send mail to the members of the list by sending email to <a href=mailto:<MM-Posting-Addr>><MM-Posting-Addr></a>.
<hr>
Visit the <MM-List-Name> <MM-Archive>Archives!</MM-Archive>
<hr>
<h3>Subscribe to <MM-List-Name>:</h3>
Fill out to <MM-List-Name> by filling out the following form:<p>
<MM-Form-Start>
<font size=+1>Would you like to receive mail in digested form?<br>
<font size=+2>Yes</font> <MM-Digest-Radio-Button> 
<font size=+2>No</font> <MM-Undigest-Radio-Button> <p>

<table>
<tr>
<td><font size=+1>Your E-mail address:</font></td>
<td><MM-Subscribe-Box></td>
</tr>
<tr>
<td colspan=3>
<br>
<font size=+1>You must enter a privacy password.  This is not really for security
sake, but is a good way to keep others from unsubscribing you.
Your privacy password will be e-mailed to you once a month as a reminder.</font></td>
</tr>
<tr>
<td><font size=+1>Your Privacy password:</font></td>
<td><MM-New-Password-Box></td>
</tr>
<tr>
<td><font size=+1>Again to confirm:</font></td>
<td><MM-Confirm-Password></td>
</tr>
</table>
<MM-Subscribe-Button><p>

<hr>
Type in your e-mail to edit your options: <mm-change-info> <mm-info-button>
<MM-Form-End>

<br>
<em><font size=+1>OR</font></em> find your name below and click on it.<p>

<h3><mm-num-reg-users> Non-digested Members of <MM-List-Name>:</h3>
<h4>Click on your e-mail to unsubscribe or change options</h4>
<MM-Regular-Users>
<hr>
<h3><mm-num-digesters> Digested Members of <MM-List-Name>:</h3>
<h4>Click on your e-mail to unsubscribe or change options</h4>
<MM-Digest-Users>
<MM-Mailman-Footer>
</body>
</html>
