<html>
<body>
<title><MM-List-Name> -- <MM-List-Description></title>
<h2><MM-List-Name> -- <MM-List-Description></h2>

<ul>
      <li><a href="#about">About the List</a>
      <li><MM-Archive><MM-List-Name> Archives</MM-Archive> (off-page)
      <li><a href="#posting">Posting messages</a>
      <li><a href="#subscribing">Subscribing</a>
      <li><a href="#changing">Changing your subscription options</a>
      <li><a href="#members">List members</a>
</ul>

<hr>
	
<a name="about"><h3>About <MM-List-Name>:</h3></a>
<table BORDER=1>
 <tr>
   <td>
<MM-List-Info>
   </td>
 </tr>
</table>

    <p>
<a name="posting">
Post messages to the list by sending email to
<a href=mailto:<MM-Posting-Addr>><MM-Posting-Addr></a>.</a>

<p>
<a name="help">
To contact a person about the list, send a message to
<a href=mailto:<MM-Owner>><MM-Owner></a>.</a>

<hr>

<a name="subscribing"><h3>Subscribe to <MM-List-Name>:</h3></a>
<MM-Form-Start>

<table>
<tr>
<td>Your E-mail address:</td>
<td COLSPAN="2"><MM-Subscribe-Box></td>
</tr>
<tr>
<td COLSPAN="3">
Would you like to receive postings batched together in
digested form or as separate messages?
</td>
</tr>
<tr>
<td>Message batching:
<td>
<font size=+1>Separate</font> <MM-Undigest-Radio-Button> <p>
</td>
<td>
<font size=+1>Digestified</font> <MM-Digest-Radio-Button> 
</td>
</tr>
<tr>
<td colspan=3>
<br>
You must enter a privacy password.  You will need it in
order to change your subscription or unsubscribe - it's a mild
precaution to prevent others from doing so without your knowing.  Your
privacy password will be e-mailed to you once a month as a
reminder.</td>
</tr>
<tr>
<td>Your Privacy password:</td>
<td><MM-New-Password-Box></td>
</tr>
<tr>
<td>Again to verify:</td>
<td><MM-Confirm-Password></td>
</tr>
</table>
<MM-Subscribe-Button><p>

<hr>

<a name="changing"><h3>Changing your subscription options:</h3></a>

To edit your subscription options or unsubscribe:

<p>
<em>Either</em> enter your e-mail: <mm-change-info>
<mm-info-button> <MM-Form-End>

<p>
<em>Or</em> click on your address entry, below:
<a name="members">
</a>
<table BORDER="1" COLS="2">
  <tr COLSPAN="2">
    <h4>
  <tr VALIGN="top">
    <td WIDTH="50%">
<h3><mm-num-reg-users> Non-digested Recipient of <MM-List-Name>:</h3>
<MM-Regular-Users>
    </td>
    <td WIDTH="50%">
<h3><mm-num-digesters> Digested Recipient of <MM-List-Name>:</h3>
<MM-Digest-Users>
    </td>
  </tr>
</table>

<MM-Mailman-Footer>

</body>
</html>
