Her finner du foresp&oslash;rsler som skal vurderes for listen
<em>%(listname)s</em>. Eventuelle s&oslash;knader om medlemsskap til listen vil
vises f&oslash;rst, deretter kommer meldinger som er sendt til listen
men som trenger godkjenning for &aring; bli distribuert.

<p>For hver s&oslash;knad om medlemsskap, velg <b>Refuse</b> for &aring; avsl&aring;
s&oslash;knaden, eller <b>Subscribe</b> for &aring; godkjenne den. Hvis du avsl&aring;r
en s&oslash;knad, kan du eventuelt oppgi en begrunnelse i tekstboksen ved
siden av.

<p>For hver melding som holdes tilbake for vurdering, velg &oslash;nsket
avgj&oslash;relse:
<ul>
<li><b>Defer</b> - Utsett avgj&oslash;relsen. Velg dette hvis du vil
videresende eller forel&oslash;pig ta vare p&aring; meldingen (se nedenfor)
uten &aring; slette den.
<li><b>Approve</b> - Godta meldingen slik den er og distribuere
den til listen.
<li><b>Reject</b> - Slette meldingen og gi beskjed tilbake til
avsenderen om at meldingen ikke ble godkjent.
<li><b>Discard</b> - Slette meldingen uten at noe beskjed sendes
til avsender. Nyttig for s&oslash;ppel-epost og reklame-epost (spam).
</ul>

<p>Kryss av for <b>Preserve</b> dersom du &oslash;nsker en kopi sendt til
systemets administrator. Dette kan v&aelig;re nyttig for meldinger som er
knyttet til misbruk av systemet.
Kryss av for <b>Forward to</b> og oppgi en epostadresse hvis du vil
videresende meldingen til noen andre.

<p>Etter du har foretatt dine valg, klikk p&aring; <em>Submit All Data</em>
knappen p&aring; toppen eller bunnen av denne siden. Det vil iverksette dine
avgj&oslash;relser.  Hvis du ikke &oslash;nsker &aring; ta en avgj&oslash;relse for enkelte
foresp&oslash;rsler, la de v&aelig;re slik de er. De vil da fortsatt ligge inne
til behandling. Du kan ogs&aring;
