<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>
  <HEAD>
     <title>The $listname $archive Archive by $archtype</title>
     <META NAME="robots" CONTENT="noindex,follow">
     $encoding
  </HEAD>
  <BODY BGCOLOR="#ffffff">
      <a name="start"></A>
      <h1>$archive Archives by $archtype</h1>
      <ul>
         <li> <b>Messages sorted by:</b>
	        $thread_ref
		$subject_ref
		$author_ref
		$date_ref

	     <li><b><a href="$listinfo">More info on this list...
                    </a></b></li>
      </ul>
      <p><b>Starting:</b> <i>$firstdate</i><br>
         <b>Ending:</b> <i>$lastdate</i><br>
         <b>Messages:</b> $size<p>
     <ul>
