# Copyright (C) 2008-2009 by the Free Software Foundation, Inc.
#
# This file is part of GNU Mailman.
#
# GNU Mailman is free software: you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free
# Software Foundation, either version 3 of the License, or (at your option)
# any later version.
#
# GNU Mailman is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License along with
# GNU Mailman.  If not, see <http://www.gnu.org/licenses/>.

# This is the absolute bare minimum base configuration file.  User supplied
# configurations are pushed onto this.

[language.en]

[qrunner.archive]
class: mailman.queue.archive.ArchiveRunner

[qrunner.bad]
class: mailman.queue.fake.BadRunner
# The bad runner is just a placeholder for its switchboard.
start: no

[qrunner.bounces]
class: mailman.queue.bounce.BounceRunner

[qrunner.command]
class: mailman.queue.command.CommandRunner

[qrunner.in]
class: mailman.queue.incoming.IncomingRunner

[qrunner.lmtp]
class: mailman.queue.lmtp.LMTPRunner

[qrunner.maildir]
class: mailman.queue.maildir.MaildirRunner
# This is still experimental.
start: no

[qrunner.news]
class: mailman.queue.news.NewsRunner

[qrunner.out]
class: mailman.queue.outgoing.OutgoingRunner

[qrunner.pipeline]
class: mailman.queue.pipeline.PipelineRunner

[qrunner.rest]
class: mailman.queue.rest.RESTRunner

[qrunner.retry]
class: mailman.queue.retry.RetryRunner
sleep_time: 15m

[qrunner.shunt]
class: mailman.queue.fake.ShuntRunner
# The shunt runner is just a placeholder for its switchboard.
start: no

[qrunner.virgin]
class: mailman.queue.virgin.VirginRunner

[qrunner.digest]
class: mailman.queue.digest.DigestRunner

[style.default]
