このページには, <em>%(listname)s</em>メーリングリストの管理
者による承認を必要とする管理上の申請事項が表示されます. 
最初に表示されるのは(もしあれば)保留になっている入会申請で, 
次に管理者の承認を必要とするメーリングリストへの投稿が続きます. 

<p>保留された投稿のそれぞれについて, 次の中から選んで決定してください.
<ul>

<li><b>保留</b> - 決定を後に延ばす. メールを転送したり保存したい
がデータベースから削除してしまわないようにする場合に選んでください. 
入会申請を承認するか拒否するかをまだ決定できない場合も同様です.

<li><b>承認</b> - 投稿を承認しリストへ送ります. 

<li><b>拒否</b> - 投稿を拒否します. その際発信者に拒否したことを
通知します. 元のメールは破棄されます. 却下の理由を
テキストボックスに記入してその通知に含めることもできます.

<li><b>破棄</b> - メールを通知なしに破棄します. SPAMに対しては
これを使うとよいでしょう. また、入会申請の場合これが処理済みである場合も
破棄でよいでしょう.
</ul>

<p>もし Mailman の管理者へメールのコピーを送りたいときには, 
<b>保存</b> オプションを設定してください. 
これは悪用メールに有効です. 
メーリングリスト以外の誰かに転送する場合には<b>転送</b> オプションを
設定して, 転送先アドレスを記入してください. 

<p>記入ができたら, このページの上か下にある<em>全データを送信</em> 
ボタンをクリックしてください. このボタンであなたが決定した全ての
管理申請を送信します. 
